<!DOCTYPE html>
<html>
<head>
    <title>News Page</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="container">
        <div class="left-container">
            <ul>
                <li><a href="#">Politics</a></li>
                <li><a href="#">Business</a></li>
                <li><a href="#">Technology</a></li>
                <li><a href="#">Entertainment</a></li>
            </ul>
        </div>
        <div class="news-container">
            <div class="search-container">
                <input class="search-input" type="text" placeholder="Search news...">
            </div>
            <div class="news">
                <div class="news-content">
                    <div class="news-text">
                        <h2 class="news-title">News Title</h2>
                        <p class="news-description">News description goes here...</p>
                        <div class="news-meta">
                            <span>Published on: January 1, 2023</span>
                            <span>Author: John Doe</span>
                        </div>
                    </div>
                    <img class="news-image" src="news-image.jpg" alt="News Image">
                </div>
                <div class="news-upvote">
                    <span class="upvote-count">100</span>
                    <span class="upvote-button">&#x25B2;</span>
                </div>
                <div class="news-actions">
                    <a href="#">Read More</a>
                    <a href="#">Share</a>
                </div>
                <div class="research-tool">
                    <h3>Related Articles</h3>
                    <ul>
                        <li><a href="#">Article 1</a></li>
                        <li><a href="#">Article 2</a></li>
                        <li><a href="#">Article 3</a></li>
                    </ul>
                </div>
            </div>

            <!-- Repeat the news div for more news articles -->

        </div>
    </div>
</body>
</html>

