<!DOCTYPE html>
<html>

<head>
    <title>Login</title>
</head>

<body>
    <h1>Login</h1>
    <form id="loginForm">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username"><br>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password"><br>

        <button type="submit">Login</button>
    </form>
    <script src="/js/index.jslo"></script>
    <script>
       
        

     

        // https://mail.google.com/mail/u/0/#search/from%3A(support%40opencagedata.com)+in%3Aanywhere+newer_than%3A1h/FMfcgzGsmhWhhrZxgjfnrPpfWZrMnrxK

       



    </script>
</body>

</html>